@model TedarikciDtos
@{
    ViewData["Title"] = "CreateTedarikci";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Yeni Tedarikçi Ekleme Sayfası</h6>
                <form method="post">
                    <br />
                    <label>THMID</label>
                    <input type="member" asp-for="THMID" class="form-control" />
                    <br />
                    <label>MALZADI</label>
                    <input type="text" asp-for="MALZADI" class="form-control" />
                    <br />
                    <label>ISYERIADI</label>
                    <input type="text" asp-for="ISYERIADI" class="form-control" />
                    <br />
                    <label>UNVANI</label>
                    <input type="text" asp-for="UNVANI" class="form-control" />
                </form>
            </div>
        </div>
    </div>
</div>
