@model UpdateUretimHatlariDto
@{
    ViewData["Title"] = "UpdateUretimHatlari";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Uretim Hattı Güncelleme Sayfası</h6>
                <form method="post">
                    <input type="hidden" asp-for="UretimHattiId" class="form-control" />
                    <input type="hidden" asp-for="FabrikaId" class="form-control" />
                    <label>Hat Adi Aciklamasi</label>
                    <input type="text" asp-for="HatAdiAciklamasi" class="form-control" />
                    <input type="hidden" asp-for="EklenmeGuncellenmeTarihi" class="form-control" />
                    <br />
                    <button class="btn btn-primary">Uretim Hattı Güncelle</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const urlParams = new URLSearchParams(window.location.search);
        document.getElementById('UretimHattiId').value = urlParams.get('UretimHattiId');
        document.getElementById('FabrikaId').value = urlParams.get('FabrikaId');
        document.getElementById('HatAdiAciklamasi').value = urlParams.get('HatAdiAciklamasi');
    });
</script>
<script>

    document.addEventListener('DOMContentLoaded', function () {

        var now = new Date();

        var formattedDate = now.toISOString().slice(0, 16);
        document.querySelector('[name="EklenmeGuncellenmeTarihi"]').value = formattedDate;
    });
</script>
