@model List<ResultFabrikalarDto>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Admin/Index.cshtml";
}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Fabrikalar</h6>
                <a href="/Fabrikalar/CreateFabrikalar/" class="btn btn-outline-info">Yeni Fabrika Girişi</a>

                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">FabrikaID</th>
                                <th scope="col">Fabrika Adi</th>
                                <th scope="col">Güncelle</th>

                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <th scope="row">@item.FabrikaID</th>
                                    <td>@item.FabrikaAdi</td>
                                    <td><a href="/Fabrikalar/UpdateFabrikalar/" class="btn btn-outline-success">Güncelle</a></td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.querySelectorAll('.btn-outline-success').forEach(btn => {
        btn.addEventListener('click', function (e) {
            e.preventDefault();
            var row = this.closest('tr');
            var fabrikaID = row.cells[0].innerText.trim();
            var fabrikaAdi = row.cells[1].innerText.trim();

            var url = "/Fabrikalar/UpdateFabrikalar?FabrikaID=" + encodeURIComponent(fabrikaID) +
                "&FabrikaAdi=" + encodeURIComponent(fabrikaAdi);
            window.location.href = url;
        });
    });
</script>
