@model UpdateFabrikalarDto
@{
    ViewData["Title"] = "UpdateFabrikalar";
    Layout = "~/Views/Admin/Index.cshtml";
}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Fabrika Güncelleme Sayfası</h6>
                <form method="post">
                    <input type="hidden" asp-for="FabrikaID" class="form-control" />
                    <label>Fabrika Adı</label>
                    <input type="text" asp-for="FabrikaAdi" class="form-control" />
                    <br />
                    <button class="btn btn-success">Fabrikayı Güncelle</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const urlParams = new URLSearchParams(window.location.search);
        document.getElementById('FabrikaID').value = urlParams.get('FabrikaID');
        document.getElementById('FabrikaAdi').value = urlParams.get('FabrikaAdi');
    });
</script>
