@model CreateUnumuneDto
@{
    ViewData["Title"] = "CreateUnumune";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4" style="overflow-x: auto; white-space: nowrap;">
                <h6 class="mb-4">Yeni Ürün Numune Ekleme Sayfası</h6>
                <form method="post">
                    <div class="d-flex">
                        <div class="flex-grow-1">
                            <label for="UrunId" class="form-label">UrunId</label>
                            <input type="text" asp-for="UrunId" class="form-control" id="UrunId" />
                        </div>
                        <div class="flex-grow-1">
                            <label for="SiraNo" class="form-label">SiraNo</label>
                            <input type="text" asp-for="SiraNo" class="form-control" id="SiraNo" />
                        </div>
                        <div class="flex-grow-1">
                            <label for="UretimTarihi" class="form-label">UretimTarihi</label>
                            <input type="datetime-local" class="form-control" asp-for="UretimTarihi" id="UretimTarihi" />
                        </div>
                        <div class="flex-grow-1">
                            <label for="UretimTarihi" class="form-label">Kontrol Saati</label>
                            <input type="datetime-local" class="form-control" asp-for="KontrolSaati" id="UretimTarihi" />
                        </div>
                        <div class="flex-grow-1">
                            <label for="NumuneSeriNoSarjNo" class="form-label">NumuneSeriNoSarjNo</label>
                            <input type="text" asp-for="NumuneSeriNoSarjNo" class="form-control" id="NumuneSeriNoSarjNo" />
                        </div>
                        <div class="flex-grow-1">
                            <label for="MudahaleVarmi" class="form-label">MudahaleVarmi</label>
                            <select asp-for="MudahaleVarmi" class="form-select" id="MudahaleVarmi">
                                <option value="true">Aktif</option>
                                <option value="false">Pasif</option>
                            </select>
                        </div>
                        <div class="flex-grow-1">
                            <label for="Aciklama" class="form-label">Aciklama</label>
                            <input type="text" asp-for="Aciklama" class="form-control" id="Aciklama" />
                        </div>
                        <div class="flex-grow-1">
                            <label for="OnayDurumu" class="form-label">OnayDurumu</label>
                            <select asp-for="OnayDurumu" class="form-select" id="OnayDurumu">
                                <option value="true">Aktif</option>
                                <option value="false">Pasif</option>
                            </select>
                        </div>
                        <div class="flex-grow-1">
                            <label for="AmirOnayDurumu" class="form-label">AmirOnayDurumu</label>
                            <select asp-for="AmirOnayDurumu" class="form-select" id="AmirOnayDurumu">
                                <option value="true">Aktif</option>
                                <option value="false">Pasif</option>
                            </select>
                        </div>
                        <div class="flex-grow-1">
                            <label for="EklenmeTarihi" class="form-label">EklenmeTarihi</label>
                            <input type="datetime-local" class="form-control" asp-for="EklenmeTarihi" id="EklenmeTarihi" />
                        </div>
                        <div class="flex-grow-1">
                            <label for="PersonelSicilNo" class="form-label">PersonelSicilNo</label>
                            <input type="text" asp-for="PersonelSicilNo" class="form-control" id="PersonelSicilNo" />
                        </div>
                        <div class="flex-grow-1">
                            <label for="Value" class="form-label">Parametre1</label>
                            <input type="text" asp-for="Value" class="form-control" id="Value" />
                        </div>
                        <div class="flex-grow-1">
                            <label for="Value" class="form-label">Parametre1</label>
                            <input type="text" asp-for="Value" class="form-control" id="Value1" />
                        </div>
                    </div>
                    <button class="btn btn-primary mt-4">Ürün Numuneyi Kaydet</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const urlParams = new URLSearchParams(window.location.search);
        document.getElementById('UrunId').value = urlParams.get('UrunId');
        document.getElementById('SiraNo').value = urlParams.get('SiraNo');
        document.getElementById('UretimTarihi').value = urlParams.get('UretimTarihi');
        document.getElementById('UretimTarihi').value = urlParams.get('UretimTarihi');
        document.getElementById('NumuneSeriNoSarjNo').value = urlParams.get('NumuneSeriNoSarjNo');
        document.getElementById('MudahaleVarmi').value = urlParams.get('MudahaleVarmi');
        document.getElementById('Aciklama').value = urlParams.get('Aciklama');
        document.getElementById('OnayDurumu').value = urlParams.get('OnayDurumu');
        document.getElementById('AmirOnayDurumu').value = urlParams.get('AmirOnayDurumu');
        document.getElementById('EklenmeTarihi').value = urlParams.get('EklenmeTarihi');
        document.getElementById('PersonelSicilNo').value = urlParams.get('PersonelSicilNo');
        document.getElementById('Value').value = urlParams.get('Value');
        document.getElementById('Value1').value = urlParams.get('Value1');

    });
</script>
