@model UpdateUnumuneDto
@{
    ViewData["Title"] = "UpdateUnumune";
    Layout = "~/Views/Admin/Index.cshtml";
}
<div class="container-fluid pt-4 px-4">
<div class="row g-4">
    <div class="col-12">
        <div class="bg-light rounded h-100 p-4">
            <h6 class="mb-4">Ürün numune Güncelleme Sayfası</h6>
            <form method="post">
                <label>NumuneId</label>
                <input type="member" asp-for="NumuneId" class="form-control" />
                <br />
                <label>UrunId</label>
                <input type="member" asp-for="UrunId" class="form-control" />
                <br />
                <label>SiraNo</label>
                <input type="text" asp-for="SiraNo" class="form-control" />
                <br />
                <label>Uretim Tarihi</label>
                <input type="text" asp-for="UretimTarihi" class="form-control" />
                    <br />
                    <label>Kontrol Saati</label>
                    <input type="text" asp-for="KontrolSaati" class="form-control" />
                    <br />
                <label>Numune SeriNo ŞarjNo</label>
                <input type="text" asp-for="NumuneSeriNoSarjNo" class="form-control" />
                <br />
                <label>Mudahale Varmi</label>
                 <input type="text" asp-for="MudahaleVarmi" class="form-control" />

                <br />
                <label>Aciklama</label>
                <input type="text" asp-for="Aciklama" class="form-control" />
                <br />
                <label>Onay Durumu</label>
                    <input type="text" asp-for="OnayDurumu" class="form-control" />

                <br />
                <label>Amir Onay Durumu</label>
                <input type="text" asp-for="AmirOnayDurumu" class="form-control" />
                <br />
                    <label>trend</label>
                    <input type="text" asp-for="Trend" class="form-control" />
                    <br />
                    <label>hatAdiAciklamasi</label>
                    <input type="text" asp-for="HatAdiAciklamasi" class="form-control" />
                <br />
                    <label>token</label>
                    <input type="text" asp-for="Token" class="form-control" />
                    <br />
                <label>Olusturma Tarihi</label>
                    <input type="text" asp-for="OlusturmaTarihi" class="form-control" />
                    <br />
                    <input type="hidden" asp-for="GuncellenmeTarihi" class="form-control" />
                    <input type="hidden" asp-for="PersonelSicilNo" class="form-control" value="@ViewBag.PersonelSicilNo" />

                <button class="btn btn-success">Ürün Numune Güncelle</button>
            </form>
        </div>
    </div>
</div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var now = new Date();

            var formattedDate = now.toISOString().slice(0, 16);
            document.querySelector('[name="GuncellenmeTarihi"]').value = formattedDate;
        });
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const urlParams = new URLSearchParams(window.location.search);
            document.getElementById('NumuneId').value = urlParams.get('numuneId');
            document.getElementById('UrunId').value = urlParams.get('urunId');
            document.getElementById('SiraNo').value = urlParams.get('siraNo');
            document.getElementById('UretimTarihi').value = urlParams.get('uretimTarihi');
            document.getElementById('KontrolSaati').value = urlParams.get('kontrolSaati');
            document.getElementById('NumuneSeriNoSarjNo').value = urlParams.get('numuneSeriNoSarjNo');
            document.getElementById('MudahaleVarmi').value = urlParams.get('mudahaleVarmi');
            document.getElementById('Aciklama').value = urlParams.get('aciklama');
            document.getElementById('OnayDurumu').value = urlParams.get('onayDurumu');
            document.getElementById('AmirOnayDurumu').value = urlParams.get('amirOnayDurumu');
            document.getElementById('OlusturmaTarihi').value = urlParams.get('olusturmaTarihi');
            document.getElementById('HatAdiAciklamasi').value = urlParams.get('hatAdiAciklamasi');
            document.getElementById('Trend').value = urlParams.get('trend');
            document.getElementById('Token').value = urlParams.get('token');


        });
    </script>


