@model UpdateUnumuneDto
@{
    ViewData["Title"] = "UpdateUnumune";
    Layout = "~/Views/Admin/Index.cshtml";
}
<div class="container-fluid pt-4 px-4">
<div class="row g-4">
    <div class="col-12">
        <div class="bg-light rounded h-100 p-4">
            <h6 class="mb-4">Ürün numune Güncelleme Sayfası</h6>
            <form method="post">
                <label>NumuneId</label>
                <input type="member" asp-for="NumuneId" class="form-control" />
                <br />
                <label>UrunId</label>
                <input type="member" asp-for="UrunId" class="form-control" />
                <br />
                <label>SiraNo</label>
                <input type="member" asp-for="SiraNo" class="form-control" />
                <br />
                <label>UretimTarihi</label>
                <input type="datetime" asp-for="UretimTarihi" class="form-control" />
                <br />
                <label>NumuneSeriNoSarjNo</label>
                <input type="member" asp-for="NumuneSeriNoSarjNo" class="form-control" />
                <br />
                <label>MudahaleVarmi</label>
                <select asp-for="MudahaleVarmi" class="form-select">
                    <option value="true">Aktif</option>
                    <option value="false">Pasif</option>
                </select>
                <br />
                <label>Aciklama</label>
                <input type="text" asp-for="Aciklama" class="form-control" />
                <br />
                <label>OnayDurumu</label>
                <select asp-for="OnayDurumu" class="form-select">
                    <option value="true">Aktif</option>
                    <option value="false">Pasif</option>
                </select>
                <br />
                <label>AmirOnayDurumu</label>
                <input type="member" asp-for="AmirOnayDurumu" class="form-control" />
                <br />
                <label>EklenmeTarihi</label>
                <input type="datetime" asp-for="EklenmeTarihi" class="form-control" />
                <br />
                    <input type="hidden" asp-for="PersonelSicilNo" class="form-control" value="@ViewBag.PersonelSicilNo" />

                <button class="btn btn-success">Ürün Numune Güncelle</button>
            </form>
        </div>
    </div>
</div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const urlParams = new URLSearchParams(window.location.search);
            document.getElementById('NumuneId').value = urlParams.get('NumuneId');
            document.getElementById('UrunId').value = urlParams.get('UrunId');
            document.getElementById('SiraNo').value = urlParams.get('SiraNo');
            document.getElementById('UretimTarihi').value = urlParams.get('UretimTarihi');
            document.getElementById('NumuneSeriNoSarjNo').value = urlParams.get('NumuneSeriNoSarjNo');
            document.getElementById('MudahaleVarmi').value = urlParams.get('MudahaleVarmi');
            document.getElementById('Aciklama').value = urlParams.get('Aciklama');
            document.getElementById('OnayDurumu').value = urlParams.get('OnayDurumu');
            document.getElementById('AmirOnayDurumu').value = urlParams.get('AmirOnayDurumu');
            document.getElementById('EklenmeTarihi').value = urlParams.get('EklenmeTarihi');


        });
    </script>


