@model UpdateUPatamaDto
@{
    ViewData["Title"] = "UpdateUPatama";
    Layout = "~/Views/Admin/Index.cshtml";
}
<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Ürün Parametre Güncelleme Sayfası</h6>
                <form method="post">
                    <label>UpaId</label>
                    <input type="member" asp-for="UpaId" class="form-control" />
                    <br />
                    <label>ParametreKodu</label>
                    <input type="text" asp-for="ParametreKodu" class="form-control" />
                    <br />
                    <label>UrunId</label>
                    <input type="member" asp-for="UrunId" class="form-control" />
                    <br />
                    <label>UpatamaKodu</label>
                    <input type="text" asp-for="UpatamaKodu" class="form-control" />
                    <br />
                    <label>ParametreKritiklikSeviyesi</label>
                    <select asp-for="ParametreKritiklikSeviyesi" class="form-select">
                        <option value="true">Aktif</option>
                        <option value="false">Pasif</option>
                    </select>
                    <br />
                    <label>KontrolDegeriNominal</label>
                    <input type="number" step="any" asp-for="KontrolDegeriNominal" class="form-control" />
                    <br />
                    <label>AltOnaySiniri</label>
                    <input type="number" step="any" asp-for="AltOnaySiniri" class="form-control" />
                    <br />
                    <label>UstOnaySiniri</label>
                    <input type="number" step="any" asp-for="UstOnaySiniri" class="form-control" />
                    <br />
                    <label>AltSartliKabulSiniri</label>
                    <input type="number" step="any" asp-for="AltSartliKabulSiniri" class="form-control" />
                    <br />
                    <label>UstSartliKabulSiniri</label>
                    <input type="number" step="any" asp-for="UstSartliKabulSiniri" class="form-control" />
                    <br />
                    <label>CihazId</label>
                    <input type="member" asp-for="CihazId" class="form-control" />
                    <br />
                    <label>ReferansDokuman</label>
                    <input type="text" asp-for="ReferansDokuman" class="form-control" />
                    <br />
                    <label>Aciklama</label>
                    <input type="text" asp-for="Aciklama" class="form-control" />
                    <br />
                    <label>FabrikaId</label>
                    <input type="member" asp-for="FabrikaId" class="form-control" />
                    <br />
                    <label>PersonelSicilNo</label>
                    <input type="text" asp-for="PersonelSicilNo" class="form-control" />
                    <input type="hidden" class="form-control" asp-for="EklenmeTarihi" />
                    <br />
                    <label>KullanımDurumu</label>
                    <select asp-for="KullanımDurumu" class="form-select">
                        <option value="true">Aktif</option>
                        <option value="false">Pasif</option>
                    </select>
                    <br />
                    <button class="btn btn-success">Ürün Parametre Güncelle</button>
                </form>
            </div>
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var now = new Date();
            var formattedDate = now.toISOString().slice(0, 16);
            var eklenmeGuncellenmeTarihiInput = document.querySelector('[name="EklenmeTarihi"]');
            if (eklenmeGuncellenmeTarihiInput) {
                eklenmeGuncellenmeTarihiInput.value = formattedDate;
            }

            const urlParams = new URLSearchParams(window.location.search);
            var elementsToUpdate = [
                { id: 'UPatamaKodu', param: 'UPatamaKodu' },
                { id: 'KontrolDegeriNominal', param: 'KontrolDegeriNominal' },
                { id: 'AltOnaySiniri', param: 'AltOnaySiniri' },
                { id: 'UstOnaySiniri', param: 'UstOnaySiniri' },
                { id: 'AltSartliKabulSiniri', param: 'AltSartliKabulSiniri' },
                { id: 'UstSartliKabulSiniri', param: 'UstSartliKabulSiniri' },
                { id: 'CihazId', param: 'CihazId' },
                { id: 'ReferansDokuman', param: 'ReferansDokuman' },
                { id: 'Aciklama', param: 'Aciklama' },
                { id: 'OrneklemSikligi', param: 'OrneklemSikligi' },
                { id: 'OrneklemSiklikBirim', param: 'OrneklemSiklikBirim' }
            ];

            elementsToUpdate.forEach(function (element) {
                var targetElement = document.getElementById(element.id);
                if (targetElement) {
                    targetElement.value = urlParams.get(element.param);
                }
            });
        });
    </script>

