@model CreateHammadelerDto
@{
    ViewData["Title"] = "CreateHammaddeler";
    Layout = "~/Views/Admin/Index.cshtml";
}


<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Yeni Hammadde Ekleme Sayfası</h6>
                <form method="post">
                    <label>HammaddeGrupları</label>
                    @Html.DropDownListFor(x => x.HammaddeGrupId, (List<SelectListItem>)ViewBag.v, new { @class = "form-control" })
                    <br />
                    <label>MalzemeKodu</label>
                    <input type="text" asp-for="MalzemeKodu" class="form-control" />
                    <br />
                    <label>MalzemeAciklamasi</label>
                    <input type="text" asp-for="MalzemeAciklamasi" class="form-control" />
                    <br />
                    <input type="hidden" asp-for="PersonelSicilNo" class="form-control" value="@ViewBag.PersonelSicilNo" />
                    <label>KullanımDurumu</label>
                    <select asp-for="KullanımDurumu" class="form-select">
                        <option value="true">Aktif</option>
                        <option value="false">Pasif</option>
                    </select>
                    <br />
                    <input type="hidden" class="form-control" asp-for="EklenmeGuncellenmeTarihi" />

                    <button class="btn btn-primary">Hammaddeyi Kaydet</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    document.addEventListener('DOMContentLoaded', function () {
    
        var now = new Date();


        var formattedDate = now.toISOString().slice(0, 16);

        document.querySelector('[name="EklenmeGuncellenmeTarihi"]').value = formattedDate;
    });
</script>