@model UpdateUrunGruplariDto
@{
    ViewData["Title"] = "UpdateUrunGruplari";
    Layout = "~/Views/Admin/Index.cshtml";
}

<div class="container-fluid pt-4 px-4">
    <div class="row g-4">
        <div class="col-12">
            <div class="bg-light rounded h-100 p-4">
                <h6 class="mb-4">Ürün Grubu Güncelleme Sayfası</h6>
                <form method="post">
                    <input type="hidden" asp-for="UrunGrupId" class="form-control" />
                    <label>Ürün Grup Adı</label>
                    <input type="text" asp-for="UgrupAdi" class="form-control" />
                    <br />
                    <button class="btn btn-primary">Ürün Grubu Güncelle</button>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        const urlParams = new URLSearchParams(window.location.search);
        document.getElementById('UrunGrupId').value = urlParams.get('UrunGrupId');
        document.getElementById('UgrupAdi').value = urlParams.get('UgrupAdi');
    });
</script>


