@model CreateHMnumuneDto
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Hammadde Başarılı bir şekilde güncellendi.</title>
    <h1>Merhaba,</h1>
    <p>Mailde belirtilen hammadde başarılı bir şekilde onaylanmıştır.</p>
</head>
<body>
</body>
</html>
